ClimaAPI.json
[
    {
        "id": "5718b9e0ce035ef4",
        "type": "tab",
        "label": "Clima API - MySQL",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "f4559a5b7b230942",
        "type": "json",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 280,
        "wires": [
            [
                "ef6271a668a63ea5",
                "38c892ab1ea0d065"
            ]
        ]
    },
    {
        "id": "1a40d23d8076ce2a",
        "type": "inject",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "180",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "af43f774b60b89e4"
            ]
        ]
    },
    {
        "id": "af43f774b60b89e4",
        "type": "http request",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=18.980916&lon=-99.233480&appid=45af97bd971a3172af32de984e1f95ca",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 280,
        "wires": [
            [
                "f4559a5b7b230942"
            ]
        ]
    },
    {
        "id": "ef6271a668a63ea5",
        "type": "function",
        "z": "5718b9e0ce035ef4",
        "name": "Temperatura API",
        "func": "global.set(\"tempAPI\", msg.payload.main.temp - 273.15);\nmsg.payload = msg.payload.main.temp - 273.15;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 280,
        "wires": [
            [
                "7c63c9d5fd82027d",
                "2947b629dbd81129"
            ]
        ]
    },
    {
        "id": "38c892ab1ea0d065",
        "type": "function",
        "z": "5718b9e0ce035ef4",
        "name": "Humedad API",
        "func": "global.set(\"HumedadAPI\", msg.payload.main.humidity);\nmsg.payload = msg.payload.main.humidity;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "7c63c9d5fd82027d",
                "f192cdd8f0539cf2"
            ]
        ]
    },
    {
        "id": "7c63c9d5fd82027d",
        "type": "ui_chart",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "group": "da2476ba37d2a5c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Historico local",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "f192cdd8f0539cf2",
        "type": "ui_gauge",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "group": "da2476ba37d2a5c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "HUMEDAD RELATIVA",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ffbe6f",
            "#ff7800",
            "#c64600"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "2947b629dbd81129",
        "type": "ui_gauge",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "group": "da2476ba37d2a5c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURA",
        "label": "°c",
        "format": "{{value}}",
        "min": "10",
        "max": "35",
        "colors": [
            "#99c1f1",
            "#8ff0a4",
            "#f66151"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 280,
        "wires": []
    },
    {
        "id": "bfde09b6b2abf3b8",
        "type": "json",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "50b04666d4177ad9",
                "a3c5f557035cb86e",
                "dd797d89106572d9"
            ]
        ]
    },
    {
        "id": "50b04666d4177ad9",
        "type": "function",
        "z": "5718b9e0ce035ef4",
        "name": "Temperatura API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 720,
        "wires": [
            [
                "18ac470d3681b1b2"
            ]
        ]
    },
    {
        "id": "a3c5f557035cb86e",
        "type": "function",
        "z": "5718b9e0ce035ef4",
        "name": "Humedad API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.main.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 800,
        "wires": [
            [
                "7579856874d05055"
            ]
        ]
    },
    {
        "id": "e4096ad43df111fa",
        "type": "inject",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "180",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 520,
        "wires": [
            [
                "f330d7d940c5c5bc"
            ]
        ]
    },
    {
        "id": "243f55d30618b869",
        "type": "mqtt out",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c98bebbdc1615b9",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "2d264fc7b59b9c4f",
        "type": "mqtt in",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "2",
        "datatype": "json",
        "broker": "3c98bebbdc1615b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 720,
        "wires": [
            [
                "bfde09b6b2abf3b8"
            ]
        ]
    },
    {
        "id": "f330d7d940c5c5bc",
        "type": "function",
        "z": "5718b9e0ce035ef4",
        "name": "JSON publico",
        "func": "msg.payload = '{\"id\":\"Gerardo, Col Chamilpa, Cuernavaca\",\"temp\":' + global.get(\"tempAPI\") + ',\"hum\":' + global.get(\"HumedadAPI\") +'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 520,
        "wires": [
            [
                "243f55d30618b869"
            ]
        ]
    },
    {
        "id": "18ac470d3681b1b2",
        "type": "ui_chart",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "group": "da2476ba37d2a5c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatura publica",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "7579856874d05055",
        "type": "ui_chart",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "group": "da2476ba37d2a5c8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humedad publica",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1010,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "70d9708fa76402ca",
        "type": "mqtt in",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3c98bebbdc1615b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "47c12a5bc1ef21f6"
            ]
        ]
    },
    {
        "id": "47c12a5bc1ef21f6",
        "type": "json",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 100,
        "wires": [
            [
                "50638e127ff0f3ed",
                "145e45dba49f3cab"
            ]
        ]
    },
    {
        "id": "50638e127ff0f3ed",
        "type": "function",
        "z": "5718b9e0ce035ef4",
        "name": "Temperaura",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "9c2113699570f397"
            ]
        ]
    },
    {
        "id": "145e45dba49f3cab",
        "type": "function",
        "z": "5718b9e0ce035ef4",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "34fed1a4b1260050"
            ]
        ]
    },
    {
        "id": "9c2113699570f397",
        "type": "ui_gauge",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "group": "da2476ba37d2a5c8",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "C°",
        "format": "{{value}}",
        "min": 0,
        "max": "45",
        "colors": [
            "#99c1f1",
            "#57e389",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "34fed1a4b1260050",
        "type": "ui_gauge",
        "z": "5718b9e0ce035ef4",
        "name": "",
        "group": "da2476ba37d2a5c8",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "8b73d833fb9870fa",
        "type": "comment",
        "z": "5718b9e0ce035ef4",
        "name": "MySQL",
        "info": "",
        "x": 90,
        "y": 920,
        "wires": []
    },
    {
        "id": "6081481afe4926f3",
        "type": "comment",
        "z": "5718b9e0ce035ef4",
        "name": "Escuchador",
        "info": "",
        "x": 110,
        "y": 680,
        "wires": []
    },
    {
        "id": "98dfa003c83fe7eb",
        "type": "comment",
        "z": "5718b9e0ce035ef4",
        "name": "Enviador",
        "info": "",
        "x": 100,
        "y": 480,
        "wires": []
    },
    {
        "id": "dd797d89106572d9",
        "type": "function",
        "z": "5718b9e0ce035ef4",
        "name": "Query",
        "func": "msg.topic = \"INSERT INTO clima (nombre,temperatura,humedad) VALUES ('\" + msg.payload.id + \"',\" + msg.payload.temp + \",\" + msg.payload.hum + \");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 980,
        "wires": [
            [
                "4b56ba2b7bb55913"
            ]
        ]
    },
    {
        "id": "4b56ba2b7bb55913",
        "type": "mysql",
        "z": "5718b9e0ce035ef4",
        "mydb": "f1a22b1ce11c0f95",
        "name": "",
        "x": 1000,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "ecbb620d8e8e3e60",
        "type": "ui_spacer",
        "z": "5718b9e0ce035ef4",
        "name": "spacer",
        "group": "da2476ba37d2a5c8",
        "order": 1,
        "width": "3",
        "height": "3"
    },
    {
        "id": "da2476ba37d2a5c8",
        "type": "ui_group",
        "name": "Temperatura API-MySQL",
        "tab": "205ccab465397fdb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3c98bebbdc1615b9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "35.157.5.219",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f1a22b1ce11c0f95",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "codigoIoT",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "205ccab465397fdb",
        "type": "ui_tab",
        "name": "Clima por API",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]